{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-dash">
            <div class="info-main"></div>
            <div class="info1" id="isup">
                <h4>System Up</h4>
                <span>{{ obj.isconected }}</span>
            </div>
            <div class="info2" id="upsince">
                <h4>Up Since</h4>
                <span>{{ obj.since }}</span>
            </div>
            <div class="info3" id="sessions">
                <h4>Sessions</h4>
                <span>{{ obj.sessions }}</span>
            </div>

            <div class="graph1">
                <div class="tittle-graph1"><h4>Stack</h4></div>
                <div class="graph-stack">
                     <div style="margin: auto; width:100%; height:100%;">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="graph2">
                <div class="tittle-graph2"><h4>Sessions</h4></div>
                <div class="graph-sess">
                    <div style="margin: auto; width:100%; height:100%;">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>

            <div class="graph3">
                <div class="tittle-graph3"><h4>Memory</h4></div>
                <div class="graph-space">
                     <div style="margin: auto; width:100%; height:100%;">
                        <canvas id="myChart3"></canvas>
                    </div>
                </div>
            </div>


            <div class="gateway-box">
                <div class="gtw1"></div>
                <div class="gtw2"></div>
                <div class="gtw3"></div>
                <div class="gtw4"></div>

                <div class="tittle-gtw1"><h3>Gateway {{ gtw1.name }}</h3></div>
                <div class="tittle-gtw2"><h3>Gateway {{ gtw2.name }}</h3></div>
                <div class="tittle-gtw3"><h3>Gateway {{ gtw3.name }}</h3></div>
                <div class="tittle-gtw4"><h3>Gateway {{ gtw4.name }}</h3></div>

                <div class="infoup-gtw1">
                    <h4>System</h4>
                    <span>{{ gtw1.status }}</span>
                </div>
                <div class="infosince-gtw1">
                    <h4>Up Since</h4>
                    <span>{{ gtw1.since }}</span>
                </div>
                <div class="infoup-gtw2">
                    <h4>System</h4>
                    <span>{{ gtw2.status }}</span>
                </div>
                <div class="infosince-gtw2">
                    <h4>Up Since</h4>
                    <span>{{ gtw2.since }}</span>
                </div>
                <div class="infoup-gtw3">
                    <h4>System</h4>
                    <span>{{ gtw3.status }}</span>
                </div>
                <div class="infosince-gtw3">
                    <h4>Up Since</h4>
                    <span>{{ gtw3.since }}</span>
                </div>
                <div class="infoup-gtw4">
                    <h4>System</h4>
                    <span>{{ gtw4.status }}</span>
                </div>
                <div class="infosince-gtw4">
                    <h4>Up Since</h4>
                    <span>{{ gtw4.since }}</span>
                </div>

                <div class="callin-gtw1">
                    <h3>Calls In</h3>
                    <div style="width:70%; height:100%; margin-left: 10%">
                        <canvas id="myChartGtw11" height="400"></canvas>
                    </div>
                </div>
                <div class="callout-gtw1">
                    <h3>Calls Out</h3>
                    <div style="width:70%; height:100%; margin-left: 10%">
                        <canvas id="myChartGtw12" height="400"></canvas>
                    </div>
                </div>

                <div class="callin-gtw2">
                    <h3>Calls In</h3>
                    <div style="width:70%; height:100%; margin-left: 10%">
                        <canvas id="myChartGtw21" height="400"></canvas>
                    </div>
                </div>
                <div class="callout-gtw2">
                    <h3>Calls Out</h3>
                    <div style="width:70%; height:100%; margin-left: 10%">
                        <canvas id="myChartGtw22" height="400"></canvas>
                    </div>
                </div>

                <div class="callin-gtw3">
                    <h3>Calls In</h3>
                    <div style="width:70%; height:100%; margin-left: 10%">
                        <canvas id="myChartGtw31" height="400"></canvas>
                    </div>
                </div>
                <div class="callout-gtw3">
                    <h3>Calls Out</h3>
                    <div style="width:70%; height:100%; margin-left: 10%">
                        <canvas id="myChartGtw32" height="400"></canvas>
                    </div>
                </div>

                 <div class="callin-gtw4">
                     <h3>Calls In</h3>
                     <div style="width:70%; height:100%; margin-left: 10%">
                        <canvas id="myChartGtw41" height="400"></canvas>
                    </div>
                 </div>
                <div class="callout-gtw4">
                    <h3>Calls Out</h3>
                    <div style="width:70%; height:100%; margin-left: 10%">
                        <canvas id="myChartGtw42" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['free', 'busy'],
                datasets: [{
                    data: [{{ obj.stack_size }}, {{ obj.stack_min_size }}],
                    backgroundColor: [
                        'rgb(0,160,240)',
                        'rgb(253,0,130)'
                    ],
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
            }
        });

        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['free', 'busy'],
                datasets: [{
                    data: [{{ obj.max_sessions }}, {{ obj.sessions }}],
                    backgroundColor: [
                        'rgb(0,160,240)',
                        'rgb(253,0,130)'
                    ],

                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var ctxq = document.getElementById('myChart3').getContext('2d');
        var myChartq = new Chart(ctxq, {
            type: 'doughnut',
            data: {
                labels: ['free', 'busy'],
                datasets: [{
                    data: [{{ cmd.disponivel }}, {{ cmd.used }}],
                    backgroundColor: [
                        'rgb(0,160,240)',
                        'rgb(253,0,130)'
                    ],

                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        let ctxgtw11 = document.getElementById("myChartGtw11").getContext("2d");
        let chart11 = new Chart(ctxgtw11, {
            type: "bar",
            data: {
                labels: ['Success', 'Fail'],
                datasets: [
                    {
                        data: [{{ gtw1.callin }}, {{ gtw1.callin_fail }}],
                        backgroundColor: [
                            'rgb(0,160,240)',
                            'rgb(253,0,130)'
                        ],
                    }
                 ]
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            gridLines: {display: false,},
                            maxBarThickness: 30 // number (pixels)
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                display: false
                            },
                            gridLines: {drawBorder: false,},
                        }]
                    },
                    legend: {display: false,},
                }
        });

        let ctxgtw12 = document.getElementById("myChartGtw12").getContext("2d");
        let chart12 = new Chart(ctxgtw12, {
            type: "bar",
            data: {
                labels: ['Success', 'Fail'],
                datasets: [
                    {
                        data: [{{ gtw1.callout }}, {{ gtw1.callout_fail }}],
                        backgroundColor: [
                            'rgb(0,160,240)',
                            'rgb(253,0,130)'
                        ],
                    }
                 ]
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            gridLines: {display: false,},
                            maxBarThickness: 30 // number (pixels)
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                display: false
                            },
                            gridLines: {drawBorder: false,},
                        }]
                    },
                    legend: {display: false,},
                }
        });

        let ctxgtw21 = document.getElementById('myChartGtw21').getContext('2d');
        let chart21 = new Chart(ctxgtw21, {
            type: "bar",
            data: {
                labels: ['Success', 'Fail'],
                datasets: [
                    {
                        data: [{{ gtw2.callin }}, {{ gtw2.callin_fail }}],
                        backgroundColor: [
                            'rgb(0,160,240)',
                            'rgb(253,0,130)'
                        ],
                    }
                 ]
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            gridLines: {display: false,},
                            maxBarThickness: 30 // number (pixels)
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                display: false
                            },
                            gridLines: {drawBorder: false,},
                        }]
                    },
                    legend: {display: false,},
                }
        });

        let ctxgtw22 = document.getElementById('myChartGtw22').getContext('2d');
        let chart22 = new Chart(ctxgtw22, {
            type: "bar",
            data: {
                labels: ['Success', 'Fail'],
                datasets: [
                    {
                        data: [{{ gtw2.callout }}, {{ gtw2.callout_fail }}],
                        backgroundColor: [
                            'rgb(0,160,240)',
                            'rgb(253,0,130)'
                        ],
                    }
                 ]
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            gridLines: {display: false,},
                            maxBarThickness: 30 // number (pixels)
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                display: false
                            },
                            gridLines: {drawBorder: false,},
                        }]
                    },
                    legend: {display: false,},
                }
        });

        let ctxgtw31 = document.getElementById('myChartGtw31').getContext('2d');
        let chart31 = new Chart(ctxgtw31, {
            type: "bar",
            data: {
                labels: ['Success', 'Fail'],
                datasets: [
                    {
                        data: [{{ gtw3.callin }}, {{ gtw3.callin_fail }}],
                        backgroundColor: [
                            'rgb(0,160,240)',
                            'rgb(253,0,130)'
                        ],
                    }
                 ]
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            gridLines: {display: false,},
                            maxBarThickness: 30 // number (pixels)
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                display: false
                            },
                            gridLines: {drawBorder: false,},
                        }]
                    },
                    legend: {display: false,},
                }
        });

        let ctxgtw32 = document.getElementById('myChartGtw32').getContext('2d');
        let chart32 = new Chart(ctxgtw32, {
            type: "bar",
            data: {
                labels: ['Success', 'Fail'],
                datasets: [
                    {
                        data: [{{ gtw3.callout }}, {{ gtw3.callout_fail }}],
                        backgroundColor: [
                            'rgb(0,160,240)',
                            'rgb(253,0,130)'
                        ],
                    }
                 ]
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            gridLines: {display: false,},
                            maxBarThickness: 30 // number (pixels)
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                display: false
                            },
                            gridLines: {drawBorder: false,},
                        }]
                    },
                    legend: {display: false,},
                }
        });

        let ctxgtw41 = document.getElementById('myChartGtw41').getContext('2d');
        let chart41 = new Chart(ctxgtw41, {
            type: "bar",
            data: {
                labels: ['Success', 'Fail'],
                datasets: [
                    {
                        data: [{{ gtw4.callin }}, {{ gtw4.callin_fail }}],
                        backgroundColor: [
                            'rgb(0,160,240)',
                            'rgb(253,0,130)'
                        ],
                    }
                 ]
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            gridLines: {display: false,},
                            maxBarThickness: 30 // number (pixels)
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                display: false
                            },
                            gridLines: {drawBorder: false,},
                        }]
                    },
                    legend: {display: false,},
                }
        });

        let ctxgtw42 = document.getElementById('myChartGtw42').getContext('2d');
        let chart42 = new Chart(ctxgtw42, {
            type: "bar",
            data: {
                labels: ['Success', 'Fail'],
                datasets: [
                    {
                        data: [{{ gtw4.callout }}, {{ gtw4.callout_fail }}],
                        backgroundColor: [
                            'rgb(0,160,240)',
                            'rgb(253,0,130)'
                        ],
                    }
                 ]
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            gridLines: {display: false,},
                            maxBarThickness: 30 // number (pixels)
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                display: false
                            },
                            gridLines: {drawBorder: false,},
                        }]
                    },
                    legend: {display: false,},
                }
        });
    </script>

{% endblock %}
